################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeeTaskManagement/.vs/EmployeeTaskManagement
/EmployeeTaskManagement/obj
